@model Grafik_test.Models.ViewModels.ScheduleVM

<link href="~/css/table.css" rel="Stylesheet" type="text/css" />

<table class="tg">
    <thead>
        <tr>
            <th class="tg-7btt"></th>
            @for (int i = 1; i <= Model.Schedule.Month.NumberOfDays; i++)
            {
                <th class="tg-7btt">@i</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int k = 0; k < Model.Schedule.ShiftsPerDay; k++)
        {

            <tr>
                <td class="tg-r1e8">@(k+1)</td>
                @for (int i = 1; i <= Model.Schedule.Month.NumberOfDays; i++)
                {
                    int shiftIndex = (Model.Schedule.ShiftsPerDay * (i - 1) + k);
                    @if (!Model.Schedule.IsDayHoliday(i))
                    {
                        string name_sub = (Model.Workers[Model.Schedule.ScheduleTable[shiftIndex].FirstWorker - 1].Name).Substring(0,1);
                        string lastname_sub = (Model.Workers[Model.Schedule.ScheduleTable[shiftIndex].FirstWorker - 1].LastName).Substring(0, 1);
                        string initials = String.Concat(name_sub, lastname_sub);
                        <td class="tg-9wq8"> @initials </td>
                    }
                    else
                    {
                        string name_sub = (Model.Workers[Model.Schedule.ScheduleTable[shiftIndex].FirstWorker - 1].Name).Substring(0,1);
                        string lastname_sub = (Model.Workers[Model.Schedule.ScheduleTable[shiftIndex].FirstWorker - 1].LastName).Substring(0, 1);
                        string initials = String.Concat(name_sub, lastname_sub);
                        <td style="background-color:aliceblue" class="tg-9wq8"> @initials </td>
                    }


                }

            </tr>
            <tr>
                <td class="tg-r1e8">@(k+1)</td>
                @for (int i = 1; i <= Model.Schedule.Month.NumberOfDays; i++)
                {
                    int shiftIndex = (Model.Schedule.ShiftsPerDay * (i - 1) + k);
                    @if (!Model.Schedule.IsDayHoliday(i))

                    {
                        string name_sub = (Model.Workers[Model.Schedule.ScheduleTable[shiftIndex].SecondWorker - 1].Name).Substring(0, 1);
                        string lastname_sub = (Model.Workers[Model.Schedule.ScheduleTable[shiftIndex].SecondWorker - 1].LastName).Substring(0, 1);
                        string initials = String.Concat(name_sub, lastname_sub);
                        <td class="tg-9wq8"> @initials </td>
                    }
                    else
                    {
                        string name_sub = (Model.Workers[Model.Schedule.ScheduleTable[shiftIndex].SecondWorker - 1].Name).Substring(0, 1);
                        string lastname_sub = (Model.Workers[Model.Schedule.ScheduleTable[shiftIndex].SecondWorker - 1].LastName).Substring(0,1);
                        string initials = String.Concat(name_sub, lastname_sub);
                        <td style="background-color:aliceblue" class="tg-9wq8">@initials</td>
                    }

                }

            </tr>

        }
    </tbody>
</table>